# Python virtual environment
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Local DBs
*.db
database/*
# Git and GitHub
.git/
.github/
.gitignore

# Docker build files
Dockerfile
.dockerignore

# gitlab ci
.gitlab-ci.yml

# sonarqube properties
sonar-project.properties

# Environment and editor configs
.env
*.swp
*.swo
*.bak
*.tmp
*.log
.vscode/
.idea/
