# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/

# SQLite / Local databases
*.db
*.sqlite3
database/*

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cached or temporary
*.egg-info/
dist/
build/
