stages:
  - test
  - gitlab-sast
  - security
  - sonar
  - build
  - container_scan
  # - zap_dast
  - gitlab-dast

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Jobs/Container-Scanning.gitlab-ci.yml
  - template: Security/DAST.gitlab-ci.yml

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_CONFIG: /tmp/.docker
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: "$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA"
  IMAGE_NAME: "$CI_REGISTRY_IMAGE:$IMAGE_TAG"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"
  PIP_INDEX_URL: "http://192.168.135.132:8081/repository/pypi-local/simple"
  PIP_TRUSTED_HOST: "192.168.135.132"

semgrep-sast:
  stage: gitlab-sast
  image: registry.gitlab.com/security-products/semgrep:6
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: true
  tags:
    - security

sast_to_defectdojo:
  stage: gitlab-sast
  image: curlimages/curl:8.5.0
  needs:
    - job: semgrep-sast
      artifacts: true
  script:
    - |
      curl -k -X POST "$DEFECTDOJO_URL/api/v2/import-scan/" \
        -H "Authorization: Token $DEFECTDOJO_API_KEY" \
        -F "scan_type=GitLab SAST Report" \
        -F "file=@gl-sast-report.json" \
        -F "engagement=$DEFECTDOJO_ENGAGEMENT_ID" \
        -F "active=true" \
        -F "verified=true" \
        -F "close_old_findings=true" \
        -F "minimum_severity=Low"
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: false
  tags:
    - security

bandit_scan:
  stage: security
  image: python:3.11-slim
  before_script:
    - pip install --upgrade pip
    - pip install bandit
  script: 
    - |
      set +e  
      bandit -r . -f json -o bandit-report.json
      BANDIT_EXIT_CODE=$?
      echo "Bandit exit code: $BANDIT_EXIT_CODE"
      echo "$BANDIT_EXIT_CODE" > bandit-exit-code.txt
      set -e 
  artifacts:
    when: always
    expire_in: 1 hour
    paths:
      - bandit-report.json
      - bandit-exit-code.txt
  tags:
    - security
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: true

bandit_to_defectdojo:
  stage: security
  image: curlimages/curl:8.5.0
  needs:
    - job: bandit_scan
      artifacts: true
  script:
    - |
      BANDIT_EXIT_CODE=$(cat bandit-exit-code.txt)
      echo "Bandit exit code from previous job: $BANDIT_EXIT_CODE"

      curl -k -X POST "$DEFECTDOJO_URL/api/v2/import-scan/" \
        -H "Authorization: Token $DEFECTDOJO_API_KEY" \
        -F "scan_type=Bandit Scan" \
        -F "file=@bandit-report.json" \
        -F "engagement=$DEFECTDOJO_ENGAGEMENT_ID" \
        -F "active=true" \
        -F "verified=true" \
        -F "close_old_findings=true" \
        -F "minimum_severity=Low"

      if [ "$BANDIT_EXIT_CODE" != "0" ]; then
        echo "❌ Bandit findings detected → failing this job"
        exit 1
      else
        echo "✅ Bandit clean"
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: false
  tags:
    - security

sonar_scan:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:11
    entrypoint: [""]
  cache:
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
      - "${SONAR_USER_HOME}/cache"
      - sonar-scanner/
  script:
    - sonar-scanner -Dsonar.host.url="${SONAR_HOST_URL}" -Dsonar.login="${SONAR_TOKEN}"
  tags:
    - security
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/

build_and_push:
  stage: build
  image: docker:29.2.1-cli
  services:
    - name: docker:29.2.1-dind
      command: ["--insecure-registry", "192.168.135.132:5050"]
  before_script:
    - mkdir -p /tmp/.docker
    - echo "$REGISTRY_PASSWORD" | docker login -u "$REGISTRY_USERNAME" --password-stdin 192.168.135.132:5050
  script:
    - docker build -t $IMAGE_NAME .
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        docker tag $IMAGE_NAME $CI_REGISTRY_IMAGE:latest
      fi
    - docker push $IMAGE_NAME
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        docker push $CI_REGISTRY_IMAGE:latest
      fi
  tags:
    - security
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/

container_scanning:
  stage: container_scan
  variables:
    CS_IMAGE: $CI_REGISTRY_IMAGE:latest
  tags:
    - security

container_scanning_to_defectdojo:
  stage: container_scan
  image: curlimages/curl:8.5.0
  needs:
    - job: container_scanning
      artifacts: true
  script:
    - |
      curl -k -X POST "$DEFECTDOJO_URL/api/v2/import-scan/" \
        -H "Authorization: Token $DEFECTDOJO_API_KEY" \
        -F "scan_type=GitLab Container Scan" \
        -F "file=@gl-container-scanning-report.json" \
        -F "engagement=$DEFECTDOJO_ENGAGEMENT_ID" \
        -F "active=true" \
        -F "verified=true" \
        -F "close_old_findings=true" \
        -F "minimum_severity=Low"
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: false
  tags:
    - security


# zap-full-scan:
#   stage: zap_dast
#   image: 
#     name: ghcr.io/zaproxy/zaproxy:stable
#     entrypoint: [""]

#   services:
#     - name: $CI_REGISTRY_IMAGE:latest
#       alias: web

#   variables:
#     TARGET_URL: "http://web:5000"

#   script:
#     - echo "Waiting for web service..."
#     - until curl -s $TARGET_URL >/dev/null; do echo "Waiting..."; sleep 5; done
#     - mkdir -p /zap/wrk
#     - zap-baseline.py -t $TARGET_URL -r /zap/wrk/zap-report.html -J /zap/wrk/zap-report.json -T 60 -d
#     - ls -la /zap/wrk
#   artifacts:
#     when: always
#     expire_in: 1 hour
#     paths:
#       - /zap/wrk/zap-report.html
#       - /zap/wrk/zap-report.json
#   tags:
#     - security
#   rules:
#     - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
#     - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/

#   allow_failure: true

dast:
  stage: gitlab-dast
  image: registry.gitlab.com/security-products/dast:6
  services:
    - name: $CI_REGISTRY_IMAGE:latest
      alias: web
  variables:
    DAST_WEBSITE: "http://web:5000"
    DAST_SITE_PROFILE: "Default Site Profile"
    DAST_SCANNER_PROFILE: "Full Scan"
    DAST_EXCLUDE_URLS: "/health,/metrics"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: true
  tags:
    - security

dast_to_defectdojo:
  stage: gitlab-dast
  image: curlimages/curl:8.5.0
  needs:
    - job: dast
      artifacts: true
  script:
    - |
      curl -k -X POST "$DEFECTDOJO_URL/api/v2/import-scan/" \
        -H "Authorization: Token $DEFECTDOJO_API_KEY" \
        -F "scan_type=GitLab DAST Report" \
        -F "file=@gl-dast-report.json" \
        -F "engagement=$DEFECTDOJO_ENGAGEMENT_ID" \
        -F "active=true" \
        -F "verified=true" \
        -F "close_old_findings=true" \
        -F "minimum_severity=Low"
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH =~ /^(main|master|develop)$/
  allow_failure: false
  tags:
    - security