<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>S3 Panel - Access Denied</title>
  <link rel="icon" type="image/svg" href="{{ url_for('static', filename='img/aws-logo.svg') }}">

  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

  <style>
    .error-container {
      text-align: center;
      padding: 4rem 2rem;
    }
    .error-code {
      font-size: 8rem;
      font-weight: 900;
      color: #dc3545;
      margin-bottom: 1rem;
    }
    .error-title {
      font-size: 2rem;
      font-weight: 700;
      color: #2d3748;
      margin-bottom: 1rem;
    }
    .error-message {
      font-size: 1.2rem;
      color: #718096;
      margin-bottom: 2rem;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    .error-actions {
      margin-top: 2rem;
    }
  </style>
</head>

<body id="page-top">
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon rotate-n-13">
        <i class="fab fa-aws" style="color: orange;"></i>
      </div>
      <div class="sidebar-brand-text mx-3">S3 Panel</div>
    </a>
            {% if user_info.type == "Root Account" %}
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bucket.home') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            {% endif %}
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Interface</div>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBuckets">
        <i class="fa fa-cubes"></i><span>Buckets</span>
      </a>
      <div id="collapseBuckets" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{ url_for('bucket.buckets') }}">Buckets</a>
        </div>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseObjects">
        <i class="fas fa-database"></i><span>Objects</span>
      </a>
      <div id="collapseObjects" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{ url_for('objects.all_buckets') }}">Objects</a>
        </div>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseS3select">
        <i class="fas fa-table"></i><span>S3select</span>
      </a>
      <div id="collapseS3select" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{ url_for('s3_select.s3_select_page') }}">S3select</a>
        </div>
      </div>
    </li>

    {% if user_info.type == "Root Account" %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIAM">
        <i class="fa fa-key"></i><span>IAM</span>
      </a>
      <div id="collapseIAM" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{ url_for('user.iam_users') }}">Users</a>
          <a class="collapse-item" href="{{ url_for('iam_groups.iam_groups') }}">Groups</a>
        </div>
      </div>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSts"
          aria-expanded="true" aria-controls="collapseSts">
          <i class="fas fa-theater-masks"></i>
          <span>STS</span>
      </a>
      <div id="collapseSts" class="collapse" aria-labelledby="headingObjects" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              {% if user_info.type == "Root Account" %}
              <a class="collapse-item" href="{{ url_for('manage.manage_sts_permissions') }}">Admin Permission</a>
              <a class="collapse-item" href="{{ url_for('manage_iam.manage_roles_page') }}">Role Management</a>
              {% endif %}
              {% if user_info.type != "Root Account" %}
              <a class="collapse-item" href="{{ url_for('assume_roles.assume_roles_page') }}">Assume Role</a">
              {% endif %}
          </div>
      </div>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">User</div>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user.profile') }}">
        <i class="fas fa-fw fa-user"></i><span>Profile</span>
      </a>
    </li>
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End Sidebar -->

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                {{ user_info.UserName or "No Name" }}
                {% if user_info.type %}({{ user_info.type }}){% endif %}
              </span>
              <img class="img-profile rounded-circle"
                   src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
              <a class="dropdown-item" href="{{ url_for('user.profile') }}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- End Topbar -->

      <!-- Main Content -->
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="error-container">
              <div class="error-code">403</div>
              <div class="error-title">Access Denied</div>
              <div class="error-message">
                You don't have permission to access this resource. 
                Please contact your administrator if you believe this is an error.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->

    </div>
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="text-center my-auto">
          <span>Copyright &copy; Your Website 2025</span>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Logout</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>