<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/meta.html' %}
    <title>S3 Panel - Objects</title>
    {% include 'components/favicon.html' %}
    
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    
    <!-- CSS Includes -->
    {% include 'components/css_includes.html' %}
    
    <!-- Objects Specific CSS -->
    <link href="{{ url_for('static', filename='css/objects.css') }}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'components/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                {% include 'components/topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Objects</h1>

                    <!-- Flash Messages -->
                    {% include 'components/flash_messages.html' %}

                    {% if not bucket_name %}
                        <!-- Buckets List View -->
                        {% include 'components/objects_buckets_list.html' %}
                    {% else %}
                        <!-- Objects List View -->
                        {% include 'components/objects_list.html' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    {% include 'components/scroll_top.html' %}

    <!-- Logout Modal-->
    {% include 'components/modals/logout_modal.html' %}

    <!-- Upload Confirm Modal -->
    {% include 'components/modals/upload_confirm_modal.html' %}

    <!-- Delete Confirm Modal -->
    {% include 'components/modals/delete_confirm_modal.html' %}

    <!-- JavaScript Includes -->
    {% include 'components/js_includes.html' %}
    
    <!-- Objects Specific JavaScript -->
    <script src="{{ url_for('static', filename='js/modules/objects.js') }}"></script>
</body>
</html>