<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/meta.html' %}
    <title>S3 Panel - Buckets</title>
    {% include 'components/favicon.html' %}
    
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    
    <!-- Additional Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/javascript/javascript.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- CSS Includes -->
    {% include 'components/css_includes.html' %}
    
    <!-- Buckets Specific CSS -->
    <link href="{{ url_for('static', filename='css/buckets.css') }}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'components/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                {% include 'components/topbar.html' %}

                <!-- Page Content -->
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">S3 Buckets</h1>

                    <!-- Create Bucket Button -->
                    <div class="mb-3 text-right">
                        <button class="btn btn-success btn-lg shadow" data-toggle="modal" data-target="#createBucketModal">
                            <i class="fas fa-plus"></i> Create Bucket
                        </button>
                    </div>

                    <!-- Buckets Table -->
                    {% include 'components/buckets_table.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    {% include 'components/modals/create_bucket_modal.html' %}
    {% include 'components/modals/manage_tags_modal.html' %}
    {% include 'components/modals/bucket_policy_modal.html' %}
    {% include 'components/modals/bucket_lifecycle_modal.html' %}
    {% include 'components/modals/replication_modal.html' %}
    {% include 'components/modals/logout_modal.html' %}

    <!-- JavaScript Includes -->
    {% include 'components/js_includes.html' %}
    
    <!-- Additional Libraries -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Buckets Specific JavaScript -->
    <script src="{{ url_for('static', filename='js/modules/buckets.js') }}"></script>
</body>
</html>